<a href="https://colab.research.google.com/github/MariaMartinez2005/practiac2/blob/main/practica1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hola Mundo" "Bienvenidos a Programacion Computacional III")

Hola MundoBienvenidos a Programacion Computacional III

In [3]:
print("Maria Rodriguez")

Maria Rodriguez

In [11]:
nombre = "Maria Rodriguez"
print  ("Hola", nombre, nombre[5], type(nombre))


nombre = 37
print("Tu edad es: " , type(nombre))

Hola Maria Rodriguez   <class 'str'>
Tu edad es:  <class 'int'>

In [22]:
programacion = True
diseno = False
print( "Te gusta Progra", programacion,"Te gusta diseño", diseno Type(Programacion) )

SyntaxError: ignored

In [21]:
edad = int(input("Dime tu edad: "))
if edad>=37: #comparacion da como resultado un valor booleana
  print("Eres un adulto, tiene resposabilidades...")
else:
  print("Eres libre")

Dime tu edad: 37
Eres un adulto, tiene resposabilidades...

In [23]:
def sumaDosNumeros(num1,num2):
  resp = num1 + num2
  return resp 
print( "La suma: ", sumaDosNumeros(2,5))

La suma:  7

In [25]:
#funciones anonimas...
sumaNumeros= lambda num1,num2: num1 + num2
print( "La suma: ", sumaNumeros (4,6))

La suma:  10

In [26]:
numeros=[5,4,7,8,-4,-9] #array unidimensional

In [28]:
def cuadrado(num):
  return num**2

In [29]:
def cubo(num):
  return num**3

In [30]:
def pares(num): #num = 2/2 = 1 ==0
   return num%2==0

In [31]:
def impares(num): 
   return num%2!=0

In [33]:
numCuadrado= list(map(cuadrado,numeros))
numXDos = list( map(lambda num: num*2, numeros ) )
print("Elevar al Cuadradola lista:", numCuadrado, numXDos )

Elevar al Cuadradola lista: [25, 16, 49, 64, 16, 81] [10, 8, 14, 16, -8, -18]

In [34]:
numCubo = list( map(cubo, numeros) )
print (numCubo)

[125, 64, 343, 512, -64, -729]

In [35]:
#usando filter dejamos solo los pares
pares = list ( filter(pares,numeros))
print(pares)

[4, 8, -4]

In [36]:
impares = list ( filter(impares,numeros))
print(impares)

[5, 7, -9]

In [37]:
#conversor de Celsius a f
def cf(c):
  return c*9/2+32

In [ ]:
c = float(input( "Grados C , grados")):