<a href="https://colab.research.google.com/github/MariaMartinez2005/practiac2/blob/main/PracticaProg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo", "Bienvenidos a Programacion Computacional III")

Hola Mundo Bienvenidos a Programacion Computacional III

In [ ]:
print("Luis Hernandez")

Luis Hernandez

In [ ]:
nombre = "Luis Hernandez"
print("Hola", nombre, nombre[5], type(nombre))

nombre = 25
print("Tu edad es: ", type(nombre))

Hola Luis Hernandez H <class 'str'>
Tu edad es:  <class 'int'>

In [ ]:
programacion = True
diseno = False
print("Te gusta Progra", programacion, "Te gusta diseño", diseno, type(programacion))

Te gusta Progra True Te gusta diseño False <class 'bool'>

In [ ]:
edad = int(input("Dime tu edad: "))
if edad>=18: #comparacion da como resultado un valor booleano
  print("Eres un adulto, tienes responsabilidades...")
else:
  print("Eres libre")

Dime tu edad: 25
Eres un adulto, tienes responsabilidades...

In [ ]:
def sumaDosNumeros(num1, num2):
  resp = num1 + num2
  return resp
print( "La suma: ", sumaDosNumeros(2,5) )

La suma:  7

In [ ]:
#funciones anonimas... 
sumaNumeros = lambda num1, num2: num1 + num2
print( "La suma: ", sumaNumeros(4,6))

La suma:  10

In [ ]:
numeros = [5,4,7,8,-4,-9] #array unidimensional

In [ ]:
def cuadrado(num):
  return num**2

In [ ]:
def cubo(num):
  return num**3

In [ ]:
def pares(num): #num = 2/2 = 1 == 0
  return num%2==0

In [ ]:
def impares(num):
  return num%2!=0

In [ ]:
numCuadrado = list(map(cuadrado, numeros))
numXDos = list( map(lambda num: num*2, numeros) )
print("Elevar al cuadradola lista: ",numCuadrado, numXDos )

Elevar al cuadradola lista:  [25, 16, 49, 64, 16, 81] [10, 8, 14, 16, -8, -18]

In [ ]:
numCubo = list( map(cubo, numeros) )
print(numCubo)

[125, 64, 343, 512, -64, -729]

In [ ]:
#usando filter dejamos solo los pares
pares = list( filter(pares, numeros) )
print(pares)

[4, 8, -4]

In [ ]:
impares = list( filter(impares,numeros) )
print(impares)

[5, 7, -9]

In [ ]:
#conversor de celsius a f
def cf(c):
  return c*9/5+32

In [ ]:
c = float(input("Grados C: "))
print( "G. C a F", cf(c))

Grados C: 27
G. C a F 80.6

In [ ]:
celsius = lambda c: c*9/5 + 32
c = int(input("Grados Celsius A convertir: "))

print( celsius(c) )

Grados Celsius A convertir: 27
80.6

In [ ]:
gradosc = [27,30,35,40,45]
grados = lambda c: c*1.8 + 32
f = list( map(grados, gradosc) )
print(f)

[80.6, 86.0, 95.0, 104.0, 113.0]

**Tarea:** 
*Hacer un algoritmo en python que convierta de farenheit a celsius*
*Hacer un algoritmo en python que convierta de Celsius a Kelvin y viceversa*

In [ ]:
numeros = [5,7,9,6,8,7,3] #, se declara y usa con corchetes

In [ ]:
print(" Lista original ", " Buscando: ", numeros[numeros.index(3)], numeros[0] )

 Lista original   Buscando:  3 5

In [ ]:
numeros[0] = 4
print("Nuevo valor: ", numeros[0])

Nuevo valor:  4

In [ ]:
edades = (2,5,12,18,65,100) #Una tupla es inmutable, se declara con parentesis
print( "Las edades: ", edades, edades[0] )

Las edades:  (2, 5, 12, 18, 65, 100) 2

In [ ]:
#edades[0] = 0 #NO puedo cambiar su valor, y se usa con corchetes
print( "Nuevo Valor", edades[0] )

Nuevo Valor 2

In [ ]:
print("Edades: ", edades, "Filtrar solo mayores de edad: ", tuple(filter( lambda num: num>=18, edades )) )

Edades:  (2, 5, 12, 18, 65, 100) Filtrar solo mayores de edad:  (18, 65, 100)

In [ ]:
buscando = int(input("Valor: "))
print( "Edades: ", edades, "Buscando el numero: ", buscando, "esta en la posicion: ", edades.index(buscando) )

Valor: 5
Edades:  (2, 5, 12, 18, 65, 100) Buscando el numero:  5 esta en la posicion:  1

In [ ]:
notas = [5, 4, 10, 7.8, 9]
print("Mis Notas: ", notas, "Notas sobresalientes: ", list(filter(lambda n:n>=9, notas)) )

Mis Notas:  [5, 4, 10, 7.8, 9] Notas sobresalientes:  [10, 9]

In [ ]:
notasCiclo = [
    [5,6,6],
    [8,7,10],
    [10,10,10]
]
print( "Mis Notas", notasCiclo, "C1: ", notasCiclo[0], "C2: ", notasCiclo[1], "C3: ", notasCiclo[2], "PC1: ", notasCiclo[0][2] )

Mis Notas [[5, 6, 6], [8, 7, 10], [10, 10, 10]] C1:  [5, 6, 6] C2:  [8, 7, 10] C3:  [10, 10, 10] PC1:  6

In [ ]:
materias = [
    [ #Progra
      [5,6,[10,8]],#c1
      [5,7,8],#c2
      [6,7,6] #c3
    ],
    [ #Diseño
      [10,9,10], #c1
      [10,10,8], #c2
      [10,10,10] #c3
    ],
    [ #Redes
      [8,7,8], #c1
      [7,9.23,9], #c2
      [8,7,9]  #c3
    ]
]
print("Progra: C1 - P", (materias[0][0][2][0] + materias[0][0][2][1])/2, "; Redes C2, Lab2: ", materias[2][1][1] )

Progra: C1 - P 9.0 ; Redes C2, Lab2:  9.23

In [ ]:
misMaterias = {} #los diccionarios (json) se definen con llaves y se usan con corchetes
misNotas = {
    "Progra I":{
        "CI": {
            "Lab1": 5,
            "Lab2": 6,
            "Parcial": [10,8]
        },
        "CII":{
            "Lab1": 5,
            "Lab2": 7,
            "Parcial": 8
        },
        "CIII":{
            "Lab1":6,
            "Lab2":7,
            "Parcial":6
        }
    },
    "Diseño":{
        "CI": {
            "Lab1": 10,
            "Lab2": 9,
            "Parcial": 10
        },
        "CII":{
            "Lab1": 10,
            "Lab2": 10,
            "Parcial": 8
        },
        "CIII":{
            "Lab1":10,
            "Lab2":10,
            "Parcial":10
        }
    }
}
print( misNotas["Progra I"]["CI"]["Parcial"], misNotas["Diseño"]["CII"]["Lab2"] )

[10, 8] 10

In [ ]:
#conversor de divisas... Dolares,Quetzales,Lempira,Cordobas,Pesos CR,Euros,Colon SV,Yenes,Soles Peruanos

In [ ]:
divisas = ["Seleccione una divisa", "Dolares", 
            "Quetzales", "Lempiras", "Cordobas",
           "Pesos CR", "Euros", "Colon SV",
             "Yenes", "Soles Peruanos"
             
]
valores = [0.1,7.71,24.51,35.77,664.64,0.98,8.75,134.13,3.84]

In [ ]:
def convertir(de, a, cantidad):
  return valores[a]/ valores[de] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1.Dolares")
print("2.Quetzales")
print("3.Lempiras")
print("4.Cordobas")
print("5.Pesos CR")
print("6.Euros")
print("7.Colon SV")
print("8.Yenes")
print("9.Soles Peruanos")

*** MENU ***
SELECCIONE UNA DIVISA
1.Dolares
2.Quetzales
3.Lempiras
4.Cordobas
5.Pesos CR
6.Euros
7.Colon SV
8.Yenes
9.Soles Peruanos

In [ ]:
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print(divisas[de], " a ", divisas[a], " es: ", convertir(de, a, cantidad) )

DE: 6
A: 7
Cantidad: 10
Euros  a  Colon SV  es:  153.29142857142858

In [ ]:
#ESTRUCTURAS DE CONTROL#

In [ ]:
#if dondicional si

edad = int(input("Dime tu edad: "))
if(edad<=2):
  print("Eres un bebe")
elif(edad<12):
  print("Edad un niño")
elif(edad<18):
  print("Eres un adolescente")
elif(edad<65):
  print("Eres mayor de edad, tienes responsabilidades")
elif(edad<80):
  print("Eres un adulto mayor")
else:
  print("Larga vida")

Dime tu edad: 1
Eres un bebe

In [ ]:
#Ciclos, while y for
#obtenga la tabla de multiplicar de x numero dada por el usuario 
#while
ntabla = int(input("Tabla: "))
i=1
while(i<=10):
  print(ntabla, "X", i, "=", ntabla*i)
  i+=1

Tabla: 13
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

In [ ]:
ntabla = int(input("Tabla: "))
for i in range(1,11):
  print(ntabla, "X", i, "=", ntabla*i)

Tabla: 13
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

In [ ]:
#Hacer un programa en python que genera la tabla de multiplicar dada por el usuario, hasta que el usuario desida salir
s="s"
while s=="s":
  ntabla = int(input("Tabla: "))
  for i in range(1,11):
    print(ntabla, "X", i,"=", ntabla*i)
  s = input("Continuar s, cualquier otra tecla para salir ")
print("Salistes...")

Tabla: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
Continuar s, cualquier otra tecla para salir b
Salistes...

In [ ]:
etiquetas = [
    [],
    ["Seleccione una divisa", "1. Dolares",
              "2. Quetzales", "3. Lempiras", "4. Cordobas",
              "5. Pesos CR", "6. Euros", "7. Colon SV",
              "8. Yanes", "9. Soles Peruanos"
    ],
    ["Seleccione una opcion", "1. Metro", "2. Milimetro",
       "3. Centimetro",
       "4. Pie", "5. Varas", "6. Yardas", "7. Km", "8. Millas"],
   ["Seleccione una opcion", "1. Gigabyte", "2. Megabyte", "3. Kilobyte"] #Almacenamiento
]
valores = [[],
           [0,1, 7.71, 24.51, 35.77, 664.64 , 0.98, 8.75, 134.13, 3.84], #divisas
           [0, 1, 1000, 100, 3.28084, 1.1963081929167, 1.0936133, 0.001, 0.000621371], #Longitudes
           [0,1, 1000, 1000000]        
]

In [ ]:
print("**MENU - CONVERSOR**")
print("1. Diviasa")
print("2. Longitud")
print("3. Almacenamiento")
opcion = int(input("Conversores: "))
print("CONVERSOR ELEGIDO: ", etiquetas[opcion])
de = int(input(" DE: "))
a = int(input("A: "))
cantidad = int(input("Cantidad: "))
prin( "Conversio de ", etiquetas[opcion][de], " a ", etiquetas[opcion][a], " equivale a ",convertir(opcion, de, a, cantidad) )

**MENU - CONVERSOR**
1. Diviasa
2. Longitud
3. Almacenamiento

KeyboardInterrupt: ignored

Ejercicio # 2 Desarrolle un algoritmo en Python que calcule el IMPUESTO A LAS ACTIVIDADES ECONOMICAS de acuerdo con la siguiente tabla.El monto de la actividad economica debe ser introducido por el usuario.

In [ ]:
def calcular():
    monto = float(input("Ingrese el monto de su empresa: "))
    impuesto = monto + 0.01/1000 * 0 +1.5  
    print("EL IMPUESTO del monto de su Empresa es: $",monto)
    Mtotal = monto - impuesto
    print("El monto total es de : $", Mtotal)

calcular()

Ingrese el monto de su empresa: 470.80
EL IMPUESTO del monto de su Empresa es: $ 470.8
El monto total es de : $ -1.5

In [3]:
#USO del paradigma del programacion orientada a objetos
class deducciones:
  def _init_(self, sueldo):
    self.sueldo = sueldo

  def calcularIsss(self):
    return self.sueldo*3/100

In [ ]:
from IPython.